<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>在线考试</title>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="../../css/weui.css"/>
<link rel="stylesheet" href="../../css/weuix.css"/>
<link rel="stylesheet" href="../../css/style.css"/>
</head>
<body ontouchstart>
	<div class="mobile_bg">
		<div class="wrapper">
			<div class="weui-header">
				<h1 class="weui-header-title">&nbsp;</h1>
			</div>
			<div class="panel_block">
				<div class="icon_logo">
					<img src="../../images/logo.jpg">
				</div>
				<div class="title">期末语文</div>
				<div class="btn_row">
					<a href="st1.html" class="btn_size weui-btn bg_blue">开始</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>