<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>考试示例</title>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="../../css/weui.css"/>
<link rel="stylesheet" href="../../css/weuix.css"/>
<link rel="stylesheet" href="../../css/style.css"/>
</head>
<body ontouchstart>
	<div class="main">
		<div class="weui-header bg_blue">
			<div class="weui-header-left"><a class="icon icon-109 f-white"></a></div>
			<h1 class="weui-header-title">59:59:59</h1>
		</div>
		<div class="body_wrapper">
			<div class="scroll_wrapper">
				<div class="scroll_content">
					<div class="title">
						<div class="exam_title" id="examPanelTitle">单选题(共10题，合计100.0分)</div>
						<span class="exam_num" id="questionsNum"><span>1</span><span>/10</span></span>
					</div>
					<div class="process_split">
						<div class="has_commit" id="hasCommitBar" style="width: 10%;"></div>
					</div>
				</div>
			</div>
			<div class="question_content">
				<div class="drag_block" id="dragBlock">
					<div class="question_main">
						<div class="weui-cells__title weui-start">1. 哪个国家是可以大量移民的国家?</div>
						<div class="weui-form" id="k1">
						
						        <div class="weui-form-li">
						     
						            <input class="weui-form-checkbox" name="f1" id="f1" value="中国" type="radio">
						               <label for="f1"><i class="weui-icon-radio"></i>
						                <div class="weui-form-text"><p>A:中国</p></div>
						            </label>
						                
						        </div>
						
						        <div class="weui-form-li">
						        
						            <input class="weui-form-checkbox" name="f1" id="f2" value="美国" type="radio">
						            <label for="f2"> <i class="weui-icon-radio"></i>
						                <div class="weui-form-text"><p>B:美国</p></div>
						            </label>
						               
						        </div>
						        <div class="weui-form-li">
						        
						            <input class="weui-form-checkbox" name="f1" id="f3" value="日本" type="radio">
						            <label for="f3"><i class="weui-icon-radio"></i>
						                <div class="weui-form-text"><p>C:日本</p></div>
						            </label>
						                
						        </div>
						
						
						    </div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="nav_wrapper">
			<div class="weui-panel__bd">
				<div class="weui-media-box weui-media-box_small-appmsg">
					<div class="weui-cells" style="background-color: #eff3f7;">
						<div class="weui-cell weui-cell_access" style="padding: 10px;">
							<div class="weui-cell__hd" style="width: 100px; margin-right: 10px;">
								<a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_default" id="preQuestions">上一题</a>
							</div>
							<div class="weui-cell__bd weui-cell_primary">
								<a href="javascript:;" class="weui-btn bg_blue btn-right" id="nextQuestions">下一题</a>
								<a href="javascript:;" class="btn btn-primary btn-right hide" id="examEndBtnNew">提交试卷</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
		</div>
	</div>
</body>
</html>